/*

author: Jack Le Riche
site: 	Ticket Tombola app

*/

* { font-family: "Neo Sans";}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 

body { background: url(../img/bg.jpg); } 

header {
	margin-bottom: 20px;
}
.container > div { margin-bottom: 80px; }

.employee {
	margin-bottom: 10px;
}


.container .tokens-allocated { padding-left: 115px; min-height: 100px; width: 89%; }
.container .tokens-allocated span { border-radius: 100%; background: white; height: 35px; width: 35px; display: block; line-height: 38px; text-align: center; float: left; margin-right: 5px; }


.Carlo { background: url(../img/employee/carlo.png) no-repeat top left; }
.Elliott { background: url(../img/employee/Elliott.png) no-repeat top left; }
.Felicity { background: url(../img/employee/Felicity.png) no-repeat top left; }
.Nathan { background: url(../img/employee/Nathan.png) no-repeat top left; }
.Liam { background: url(../img/employee/Liam.png) no-repeat top left; }
.Mike { background: url(../img/employee/Mike.png) no-repeat top left; }
.Jack { background: url(../img/employee/Jack.png) no-repeat top left; }
.Joe { background: url(../img/employee/Joe.png) no-repeat top left; }
.Kyle { background: url(../img/employee/Kyle.png) no-repeat top left; }
.Lee { background: url(../img/employee/Lee.png) no-repeat top left; }
.Kayleigh { background: url(../img/employee/Kayleigh.png) no-repeat top left; }
.Ping { background: url(../img/employee/Ping.png) no-repeat top left; }
.Kelly {background: url(../img/employee/Kelly.png) no-repeat top left; }


.employee_win_screen { padding-top: 90px; text-align: center; background-position: top; margin-bottom: 20px; }

#spin { 
	width: 300px;
	height: 300px;
	display: block;
	text-align: center;
	line-height: 300px;
	font-size: 130px;
	font-weight: bold;
	background: white;
	color: white;
	border-radius: 100%;
	margin-left: 25px;
	margin: 0 auto;
}

#spin.Carlo { background: url(../img/employee/carlo.png) no-repeat; background-size: 300px }
#spin.Elliott { background: url(../img/employee/Elliott.png) no-repeat; background-size: 300px }
#spin.Felicity { background: url(../img/employee/Felicity.png) no-repeat; background-size: 300px }
#spin.Nathan { background: url(../img/employee/Nathan.png) no-repeat; background-size: 300px }
#spin.Liam { background: url(../img/employee/Liam.png) no-repeat; background-size: 300px }
#spin.Mike { background: url(../img/employee/Mike.png) no-repeat; background-size: 300px }
#spin.Jack { background: url(../img/employee/Jack.png) no-repeat; background-size: 300px }
#spin.Joe { background: url(../img/employee/Joe.png) no-repeat; background-size: 300px }
#spin.Kyle { background: url(../img/employee/Kyle.png) no-repeat; background-size: 300px }
#spin.Lee { background: url(../img/employee/Lee.png) no-repeat; background-size: 300px }
#spin.Kayleigh { background: url(../img/employee/Kayleigh.png) no-repeat; background-size: 300px }
#spin.Ping { background: url(../img/employee/Ping.png) no-repeat; background-size: 300px }
#spin.Kelly { background: url(../img/employee/Kelly.png) no-repeat; background-size: 300px }


.ticker {
	margin-top: 107px;
}
#roll {
	margin-top: 20px;
	margin-left: 60px;
}
.winner_mug_shot {
	background-size: 500px;
	height: 500px;
	width: 500px;
	margin-left: 26%;
}
.employee_win_screen .counter span {
	display: block;
	float: left;
	height: 20px;
	width: 20px;
	background: white;
	border-radius: 100%;
	margin-right: 10px;
}
.employee_win_screen .counter span.active {
	background: blue;
	border: 2px white solid;
	width: 15px;
	height: 15px;
}
.employee_win_screen .counter span:last-of-type {
	margin: 0;
}
#winner h2 { 
	margin: 0 auto;
	text-align: center;
}

footer {
	border-top: #fff solid 1px;
	background: #e4e4e4; /* Old browsers */
	background: -moz-linear-gradient(top, #e4e4e4 0%, #b8b7b8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#b8b7b8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e4e4e4 0%,#b8b7b8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e4e4e4 0%,#b8b7b8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e4e4e4 0%,#b8b7b8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e4e4e4 0%,#b8b7b8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#b8b7b8',GradientType=0 ); /* IE6-9 */
	height: 50px;
	padding: 10px;
}


/* font */
h1, h2 { color: white;}
 
h1 { padding: 40px 0 40px 80px; margin-left: 15px; background: url(../img/e-scape.png) no-repeat center left; }